In [3]:
import psycopg2

In [4]:
conn = psycopg2.connect("host=127.0.0.1 dbname=student user=postgres password=123456")

In [5]:
cur=conn.cursor()

In [13]:
conn = psycopg2.connect("dbname=student user=postgres password=123456")
cur = conn.cursor()

In [14]:
conn.set_session(autocommit=True)

In [15]:
cur.execute("select * from test123")

UndefinedTable: relation "test123" does not exist
LINE 1: select * from test123
                      ^

In [18]:
cur.execute("CREATE TABLE test123 (col1 int,col2 int,col3 int);")

In [19]:
cur.execute("SELECT COUNT(*) from test123")
print(cur.fetchall())

[(0L,)]

In [20]:
cur.execute("drop table test123")